.navbar {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    width: 7em;
    height: auto;
    padding: 0.5em 0em 0.7em 1.0em;
}

.spannerPH {
    width: 100%;
    height: 40vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #EDFCED;
    background-image: url("../images/SVG/bannerPH.svg");
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
    .spannerPH {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cite-container {
    background-color: #bce7da;
    border: 1px solid #86b9aa;
    /* height: 500px; */
    width: 100%;
}

a {
    color: #4e7470;
}

a:hover {
    color: #5d8f8a;
}

.vid-desc hr {
    /* display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff; */
    border: 0.5px solid rgb(197, 197, 197);
    width: 100%;
    height: 0;
    max-height: 0;
    margin: 8px auto;

}

.helpful {
    color: #679967;
    font-style: italic;
    font-size: 1rem;
}

.controversial {
    color: #ac6c64;
    font-style: italic;
    font-size: 1rem;
}

/* .owlcarousel .owl-stage-outer .owl-stage .owl-item {
    padding: 0 2px;
    -webkit-transition: 250ms all;
    transition: 250ms all;
  } */
.owl-carousel {
    overflow: hidden;
}

.owl-item:hover {
    margin: 0 40px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* #modal-container {
    background-color: darkgreen;
}

.modal-body {
    padding: 0 1rem
} */

.comment-italic {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-style: italic;
}

.media img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

h6 {
    font-weight: bold;
}

.collapse-box {
    overflow: hidden;
    height: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(83, 83, 83);
}

.swiper-slide:hover .overlay {
    opacity: 0.7;
}

.overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}

.swiper-slide:hover .overlay-text {
    opacity: 1;
}

/* .display-inline {
    display: inline-flex;
}

#your-comment {
    width: 100%;
} */

.search-bar {
    max-width: 500px;
}

.search-button {
    background-color: #bce7da;
}

.icon-search {
    background-image: url(../images/iconfinder_search_1608826.png);
    background-size: cover;
    display: inline-block;
    height: 1rem;
    width: 1rem;
}